<h3 class="mb-0">Contacter l'hote</h3>
<br>
<form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">

    <div fxFlex="100" class="px-1 mt-1">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Message</mat-label>
            <textarea matInput placeholder="Message" formControlName="message" name="message" required
                rows="7"></textarea>
            <mat-error *ngIf="contactForm.controls.message.errors?.required">Un message est requis</mat-error>
        </mat-form-field>
    </div>
    <div fxFlex="100">
        <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" style="background-color: grey;" (click)="onNoClick()"
                fxLayout="row" fxLayoutAlign="center center" type="button">
                <mat-icon>cancel</mat-icon>
                <span class="mx-1 uppercase">Annuler</span>
            </button>
            <div class="w-100 py-2 text-center">
                <button mat-raised-button color="primary" type="submit" class="uppercase" style="float: right;">Envoyer</button>
            </div>
        </div>
    </div>
</form>