<app-header-image [backgroundImage]="'assets/images/others/contact.jpg'" 
                  [bgImageAnimate]="false" 
                  [contentOffsetToTop]="true"                
                  [title]="'NOUS CONTACTER'"
                  [desc]="'tu as une question? Nous vous donnerons une réponse directe'">
</app-header-image>

<div class="px-3">

    <div class="theme-container">
        <mat-card class="main-content-header mb-5">
            
            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <div fxFlex="100" fxFlex.gt-xs="33.3">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
                        <h3 class="primary-color py-1">ADDRESSE :</h3>
                        <span>22 rue des Vignerons 94300 Vincennes</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">Appelez nous</mat-icon>
                        <h3 class="primary-color py-1">TÉLÉPHONE :</h3>
                        <span>(+33)1 55 66 32 56</span>
                        <span>(+33)1 55 66 32 56</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
                        <h3 class="primary-color py-1">E-MAIL :</h3>
                        <span>contact@atypikhouse.com</span>
                        <span> !!! Attention ceci est un projet etudiant !!! </span>
                    </div>
                </div>
                <div class="divider w-100 mt-3"></div>
                <h3 class="w-100 text-center py-3">NOUS CONTACTER
                </h3>
                
                <form action="https://api.sheetmonkey.io/form/bQQGWAtk6gsPUiTNxht8NX" method="POST" fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nom</mat-label>
                            <input matInput placeholder="Name" formControlName="name" name="name" required>
                            <mat-error *ngIf="contactForm.controls.name.errors?.required">Le nom est requis</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" name="email" required>
                            <mat-error *ngIf="contactForm.controls.email.errors?.required">L'adresse e-mail est requise</mat-error>
                            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">L'adresse e-mail invalide</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Téléphone</mat-label>
                            <input matInput placeholder="Phone" formControlName="phone" name="phone" required>
                            <mat-error *ngIf="contactForm.controls.phone.errors?.required">Le téléphone est requis</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="px-1 mt-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Message</mat-label> 
                            <textarea matInput placeholder="Message" formControlName="message"  name="message"  required rows="7"></textarea> 
                            <mat-error *ngIf="contactForm.controls.message.errors?.required">Un message est requis</mat-error>
                        </mat-form-field>
                    </div> 
                    <div class="w-100 py-2 text-center">
                        <button mat-raised-button color="primary" type="submit" class="uppercase">Envoyer</button>
                    </div> 
                </form> 
            
            </div> 
            
            <div class="mt-5 contact-map">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false" ></agm-marker>
                </agm-map>
            </div>

        </mat-card>  
    </div>

</div>