<div class="p-3">
    <div class="theme-container">
  
      <mat-card ngClass.lt-lg="p-0" [formGroup]="submitForm">
  
        <mat-horizontal-stepper #horizontalStepper linear="true" class="submit-property" (selectionChange)="onSelectionChange($event)">

            <mat-step [stepControl]="submitForm.get('basic')" label="Basic">
              <div class="step-content">

                  <form formGroupName="basic" fxLayout="row wrap">

                      <div fxFlex="100" class="p-3">
                        <h1 class="fw-500 text-center">Basique</h1>
                      </div>
                              
                      <div fxFlex="100" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Titre</mat-label>
                            <input matInput placeholder="Title" formControlName="title" required autocomplete="off">
                            <mat-error *ngIf="submitForm.get('basic')['controls'].title.errors?.required">Le titre est requis</mat-error>
                        </mat-form-field>
                      </div>  
                  
                      <div fxFlex="100" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Description</mat-label> 
                            <textarea matInput placeholder="Description" formControlName="desc" rows="7"></textarea> 
                        </mat-form-field> 
                      </div> 
                  <!--
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Prix ($)</mat-label>
                            <input matInput placeholder="Enter sale or rent price" formControlName="priceDollar" autocomplete="off"> 
                        </mat-form-field>
                      </div> 
                    -->
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Prix (€)</mat-label>
                            <input matInput placeholder="Enter sale or rent price" formControlName="priceEuro" autocomplete="off"> 
                        </mat-form-field>
                      </div> 
                    
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Catégorie de logement</mat-label> 
                            <mat-select placeholder="Select Property Type" formControlName="propertyType" required>
                                <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">
                                    {{propertyType.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="submitForm.get('basic')['controls'].propertyType.errors?.required">Champ obligatoire</mat-error>                               
                        </mat-form-field>
                      </div>
                  
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Type de logement</mat-label>
                            <mat-select placeholder="Select Property Status" formControlName="propertyStatus" >
                                <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus.id">
                                    {{propertyStatus.name}}
                                </mat-option>
                            </mat-select>                             
                        </mat-form-field>
                      </div>
                  <!--
                      <div fxFlex="100" class="step-section pb-2">
                          <p class="mb-0"><span class="uppercase fw-500">Gallery</span><span class="text-muted mx-3">(max 8 images)</span></p>  
                          <input-file formControlName="gallery" fileLimit="8" fileAccept="image/*"></input-file>  
                      </div> 
                    -->
                      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" (click)= "submitstep1()" matStepperNext fxLayout="row"  fxLayoutAlign="center center" type="button">
                          <span class="mx-1 uppercase">Suivant </span>                    
                          <mat-icon>navigate_next</mat-icon>
                        </button> 
                      </div> 
                  
                  </form>
               
              </div>
            </mat-step>
            
            <mat-step [stepControl]="submitForm.get('address')" label="Address">
              <div class="step-content">

                  <form formGroupName="address" fxLayout="row wrap">
            
                      <div fxFlex="100" class="p-3">
                        <h1 class="fw-500 text-center">Addresse</h1>
                      </div>
                                
                      <div fxFlex="100" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-icon matPrefix class="mr-1 text-muted">location_on</mat-icon>
                            <mat-label>Location</mat-label>
                            <input matInput placeholder="Enter a location" formControlName="location" autocomplete="off" #addressAutocomplete> 
                            <button *ngIf="submitForm.get('address')['controls'].location.value" mat-button matSuffix mat-icon-button (click)="submitForm.get('address')['controls'].location.setValue(null)" type="button">
                              <mat-icon>Fermer</mat-icon>
                            </button>
                            <mat-error *ngIf="submitForm.get('address')['controls'].location.errors?.required">La localisation est obligatoire</mat-error>   
                        </mat-form-field>
                      </div> 
                    
                      <div fxFlex="100" class="px-2 mb-4">
                          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeControl]="true" [fullscreenControl]="true" (mapClick)="onMapClick($event)">
                              <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (markerClick)="onMarkerClick($event)"></agm-marker>
                          </agm-map>
                      </div>
                    
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ville</mat-label>
                            <mat-select placeholder="Select City..." formControlName="city" (selectionChange)="onSelectCity()" required> 
                              <mat-option *ngFor="let city of cities" [value]="city.name">
                                {{city.name}}
                              </mat-option>
                            </mat-select> 
                            <mat-error *ngIf="submitForm.get('address')['controls'].city.errors?.required">City is required</mat-error>                    
                        </mat-form-field>
                      </div> 
                    
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Code postale</mat-label>
                            <input matInput placeholder="exp. 98104" autocomplete="off" formControlName="zipCode">                  
                          </mat-form-field>
                      </div>
                    
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Quatier</mat-label>
                          <mat-select placeholder="Select Neighborhood..." formControlName="neighborhood"  (selectionChange)="onSelectNeighborhood()">
                            <mat-option *ngFor="let neighborhood of neighborhoods | filterNeighborhoods: submitForm.get('address')['controls'].city.value?.id" [value]="neighborhood.name">
                              {{neighborhood.name}}
                            </mat-option>
                          </mat-select>   
                        </mat-form-field>
                      </div> 
                    
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Rue</mat-label>
                          <mat-select placeholder="Select Street..." formControlName="street" > 
                            <mat-option *ngFor="let street of streets | filterStreets : { neighborhoods: submitForm.get('address')['controls'].neighborhood.value?.id, cityId:submitForm.get('address')['controls'].city.value?.id } " [value]="street.name">
                              {{street.name}}
                            </mat-option>
                          </mat-select>  
                        </mat-form-field>
                      </div> 
                    
                      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                        <button mat-raised-button color="primary" matStepperPrevious fxLayout="row" fxLayoutAlign="center center" type="button">
                          <mat-icon>navigate_before</mat-icon>
                          <span class="mx-1 uppercase">Précédent</span>  
                        </button>
                        <button mat-raised-button color="primary" matStepperNext (click)= "submitstep2()" fxLayout="row" fxLayoutAlign="center center" type="button">
                          <span class="mx-1 uppercase">Suivant</span>                    
                          <mat-icon>navigate_next</mat-icon>
                        </button> 
                      </div>  
                    
                  </form>
                
              </div> 
            </mat-step>

            <mat-step [stepControl]="submitForm.get('additional')" label="Additional">
              <div class="step-content">

                  <form formGroupName="additional" fxLayout="row wrap">
    
                      <div fxFlex="100" class="p-3">
                        <h1 class="fw-500 text-center">Supplémentaire</h1>
                      </div>
                  
                      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Chambres</mat-label>
                            <input matInput placeholder="bedrooms" autocomplete="off" formControlName="bedrooms" onlyNumber maxlength="2">                  
                          </mat-form-field>
                      </div>
                  
                      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Salles de bains</mat-label>
                            <input matInput placeholder="bathrooms" autocomplete="off" formControlName="bathrooms" onlyNumber maxlength="2">                  
                          </mat-form-field>
                      </div>
                  
                      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nombre de voyageur</mat-label>
                            <input matInput placeholder="Garages" autocomplete="off" formControlName="garages" onlyNumber maxlength="2">                  
                          </mat-form-field>
                      </div>
                      
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nombre de lits</mat-label>
                            <input matInput placeholder="Area" autocomplete="off" formControlName="area" onlyNumber>                  
                          </mat-form-field>
                      </div>
                   <!--   
                      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Année de construction</mat-label>
                            <input matInput placeholder="Year Built" autocomplete="off" formControlName="yearBuilt" onlyNumber  maxlength="4">                  
                          </mat-form-field>
                      </div>
                    -->
                      <div fxFlex="100" class="mb-2"> 
                          <p class="uppercase m-2 fw-500">Caractéristiques</p> 
                          <div formArrayName="features" fxLayout="row wrap">
                              <div [formGroupName]="i" *ngFor="let control of submitForm.get('additional')['controls'].features['controls']; index as i"   class="p-2">
                                  <mat-checkbox formControlName="selected" (change)="onChange($event)"  [value]="features[i].id">{{features[i].name}}</mat-checkbox>                         
                              </div>
                          </div>
                      </div>
                  
                  
                      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                        <button mat-raised-button color="primary" matStepperPrevious fxLayout="row" fxLayoutAlign="center center" type="button">
                          <mat-icon>navigate_before</mat-icon>
                          <span class="mx-1 uppercase">Précédent</span>  
                        </button>
                        <button mat-raised-button color="primary" matStepperNext (click)= "submitstep3()" fxLayout="row" fxLayoutAlign="center center" type="button">
                          <span class="mx-1 uppercase">Suivant</span>                    
                          <mat-icon>navigate_next</mat-icon>
                        </button> 
                      </div>        
                  </form>
                  
                
              </div> 
            </mat-step>

            <mat-step [stepControl]="submitForm.get('media')" label="Media">
              <div class="step-content">

                  <form formGroupName="media" fxLayout="row wrap">    
                   
                      <div fxFlex="100" class="p-3">
                        <h1 class="fw-500 text-center">Media</h1>
                      </div>
                  <!--
                      <div fxFlex="100" fxLayoutAlign="start center" class="my-3 px-2"> 
                          <p class="mb-0"><span class="uppercase fw-500">Videos</span><span class="text-muted mx-3">(video link to .mp4)</span></p>                            
                          <button type="button" mat-icon-button color="primary" (click)="addVideo()" matTooltip="Add New Video" matTooltipPosition="after">
                              <mat-icon>add_circle</mat-icon>
                          </button>
                      </div> 
                      <div formArrayName="videos" fxFlex="100" fxLayout="row wrap">  
                          <div *ngFor="let item of submitForm.get('media')['controls'].videos['controls']; let i = index;" fxFlex="100" class="step-section">
                              <div fxFlex="4" class="fw-500 text-center pt-3">{{i+1}}.</div>
                              <div [formGroupName]="i" fxFlex="90" fxLayout="row wrap">
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="40" class="px-2">
                                      <mat-label>Nom</mat-label>
                                      <input matInput placeholder="Video name" formControlName="name" autocomplete="off">     
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="60" class="px-2">
                                      <mat-label>Lien</mat-label>
                                      <input matInput placeholder="Link to video" formControlName="link" autocomplete="off">     
                                  </mat-form-field>                                                 
                              </div>
                              <div fxFlex="6" class="text-center pt-2">
                                  <button mat-icon-button color="warn" (click)="deleteVideo(i)" matTooltip="Delete Video">
                                      <mat-icon>Annuler</mat-icon>
                                  </button>
                              </div>                            
                          </div>        
                      </div>
                  
                      <div fxFlex="100" fxLayoutAlign="start center" class="my-3 px-2"> 
                          <p class="uppercase fw-500 mb-0">Plans</p>                            
                          <button type="button" mat-icon-button color="primary" (click)="addPlan()" matTooltip="Add New Plan" matTooltipPosition="after" class="mx-3">
                              <mat-icon>add_circle</mat-icon>
                          </button>
                      </div> 
                      <div formArrayName="plans" fxFlex="100" fxLayout="row wrap">  
                          <div *ngFor="let item of submitForm.get('media')['controls'].plans['controls']; let i = index;" fxFlex="100" class="step-section pb-2">
                              <div fxFlex="4" class="fw-500 text-center pt-3">{{i+1}}.</div>
                              <div [formGroupName]="i" fxFlex="90" fxLayout="row wrap">
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="40" class="px-2">
                                      <mat-label>Nom</mat-label>
                                      <input matInput placeholder="Plan name" formControlName="name" autocomplete="off">     
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="60" class="px-2">
                                      <mat-label>Description</mat-label>
                                      <input matInput placeholder="Description" formControlName="desc" autocomplete="off">     
                                  </mat-form-field> 
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                      <mat-label>Supérficie (ft²)</mat-label>
                                      <input matInput placeholder="Area" formControlName="area" autocomplete="off" onlyNumber>     
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                      <mat-label>Chambres</mat-label>
                                      <input matInput placeholder="Rooms" formControlName="rooms" autocomplete="off" onlyNumber>     
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                      <mat-label>Salles de bains</mat-label>
                                      <input matInput placeholder="Baths" formControlName="baths" autocomplete="off" onlyNumber>     
                                  </mat-form-field>
                                  <div fxFlex="100" class="px-2">  
                                      <input-file placeholder="Image (or link to image)" formControlName="image" fileLimit="1" fileAccept="image/*" [linkEnabled]="true"></input-file>  
                                  </div>                
                              </div>
                              <div fxFlex="6" class="text-center pt-2">
                                  <button mat-icon-button color="warn" (click)="deletePlan(i)" matTooltip="Delete Plan">
                                      <mat-icon>Annuler</mat-icon>
                                  </button>
                              </div>  
                          </div>        
                      </div> 
                  
                      
                      <div fxFlex="100" fxLayoutAlign="start center" class="my-3 px-2"> 
                          <p class="mb-0 uppercase fw-500">Caractéristiques supplémentaires</p>                            
                          <button type="button" mat-icon-button color="primary" (click)="addFeature()" matTooltip="Add New Feature" matTooltipPosition="after">
                              <mat-icon>add_circle</mat-icon>
                          </button>
                      </div> 
                      <div formArrayName="additionalFeatures" fxFlex="100" fxLayout="row wrap">  
                          <div *ngFor="let item of submitForm.get('media')['controls'].additionalFeatures['controls']; let i = index;" fxFlex="100" class="step-section">
                              <div fxFlex="4" class="fw-500 text-center pt-3">{{i+1}}.</div>
                              <div [formGroupName]="i" fxFlex="90" fxLayout="row wrap">
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="40" class="px-2">
                                      <mat-label>Nom</mat-label>
                                      <input matInput placeholder="Feature name" formControlName="name" autocomplete="off">     
                                  </mat-form-field>
                                  <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="60" class="px-2">
                                      <mat-label>Valeur</mat-label>
                                      <input matInput placeholder="Feature value" formControlName="value" autocomplete="off">     
                                  </mat-form-field>                                                 
                              </div>
                              <div fxFlex="6" class="text-center pt-2">
                                  <button mat-icon-button color="warn" (click)="deleteFeature(i)" matTooltip="Delete Feature">
                                      <mat-icon>Annuler</mat-icon>
                                  </button>
                              </div>                            
                          </div>        
                      </div>
                  
                  
                      <div fxFlex="100" class="py-3">
                          <mat-slide-toggle formControlName="featured">Featured</mat-slide-toggle>
                      </div>
                   

                    <ngx-dropzone   class="custom-dropzone" ngx-dropzone [multiple]="true" [accept]="'image/jpeg,image/jpg,image/png,image/gif'"
                    (change)="upload($event)">
                      <ngx-dropzone-label>ajouter une image</ngx-dropzone-label>
                    
                      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)" >
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                      </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                -->
                <app-upload-manager></app-upload-manager>
                      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="space-between center">
                          <button mat-raised-button color="primary" matStepperPrevious fxLayout="row" fxLayoutAlign="center center" type="button">
                              <mat-icon>navigate_before</mat-icon>
                              <span class="mx-1 uppercase">Précédent</span>  
                          </button>
                          <button mat-raised-button color="primary" (click)="submitstep5()" matStepperNext fxLayout="row" fxLayoutAlign="center center" type="button">
                              <span class="mx-1 uppercase">Soumettre</span>                    
                              <mat-icon>navigate_next</mat-icon>
                          </button> 
                      </div> 
                   
                  
                  </form>
                
              </div> 
            </mat-step>

            <mat-step label="Confirmation">
              <div class="step-content">
                
                  <div fxLayout="column" fxLayoutAlign="center center" class="pt-5 text-center"> 
                    <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
                    <h2 class="mt-3 uppercase">Félicitation!</h2>
                <!--    <h2 class="my-3">Votre bien <span class="primary-color">"{{submitForm.get('basic')['controls'].title.value}}"</span> has been submitted</h2>-->
                    <p class="text-muted">Votre logement a bien été ajouté et est en attente de validation.</p>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center" class="pt-3">  
                    <button mat-raised-button color="accent" (click)="reset()" type="button">Retourner pour soumettre une nouvelle propriété</button>       
                  </div>

              </div> 
            </mat-step>

        </mat-horizontal-stepper>

      </mat-card>


    </div>
</div>