<div class="p-3">
  <div class="theme-container">

      <div class="my-3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
          <h1 class="uppercase">Conditions Générales</h1>             
          <p>En utilisant ce site Web, vous êtes réputé avoir lu et accepté les termes et conditions suivants :</p>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
          <mat-card class="p-5">
 
            <p>La terminologie suivante s'applique aux présentes conditions générales, à la déclaration de confidentialité et à l'avis de non-responsabilité, ainsi qu'à toute. .
              ou tous les accords : "Client", "Vous" et "Votre" se réfèrent à vous, la personne qui accède à ce site web et qui accepte les
              Conditions générales de la société. les termes "la société", "nous", "nous" et "nous" font référence à notre société. «Partie»,
              «Parties», ou «Nous», désigne à la fois le Client et nous-mêmes, ou le Client ou nous-mêmes. Tous les termes font référence à l’offre,
              acceptation et la prise en compte du paiement nécessaire pour entreprendre le processus de notre assistance au client dans
              de la manière la plus appropriée, soit par des réunions officielles d’une durée déterminée, soit par tout autre moyen,
              afin de répondre aux besoins du Client en ce qui concerne la fourniture des services/produits déclarés de la Société,
              conformément au droit anglais en vigueur et sous réserve de celui-ci. Toute utilisation de la terminologie ci-dessus ou d'autres mots dans la
              singulier, pluriel, majuscule et/ou il/elle ou ils/elles, sont pris comme interchangeables et donc comme se référant au même. </p>
              
              <h3>Déclaration de confidentialité</h3>
              <p>Nous nous engageons à protéger votre vie privée. Les employés autorisés au sein de l'entreprise, sur la base du besoin de savoir
              n'utiliser que les informations recueillies auprès des clients individuels. Nous révisons constamment nos systèmes et nos données pour garantir
              le meilleur service possible à nos clients. Le Parlement a créé des infractions spécifiques pour les actions non autorisées à l'encontre de
              les systèmes et les données informatiques. Nous enquêterons sur de telles actions en vue d'engager des poursuites et/ou des actions civiles
              des procédures pour obtenir des dommages et intérêts contre les responsables </p>
              
              <h3>Disclaimer, exclusions et limitations </h3>
              
              <p>Les informations figurant sur ce site web sont fournies en l'état. Dans toute la mesure permise par la loi, cette société : </p>
              <ul class="px-3">
              <li>exclut toutes les représentations et garanties relatives à ce site web et à son contenu ou qui est ou peut être
              fournis par des sociétés affiliées ou tout autre tiers, y compris en ce qui concerne toute inexactitude ou omission dans
              ce site web et/ou la littérature de la société ; et</li>
              <li>exclut toute responsabilité pour les dommages découlant de ou en relation avec votre utilisation de ce site web. Cela comprend,
              sans limitation, les pertes directes, les pertes d'affaires ou de profits (que la perte de ces profits ait été ou non
              prévisible, survenue dans le cours normal des choses ou vous avez informé cette société de la possibilité de
              cette perte potentielle), les dommages causés à votre ordinateur, à vos logiciels, à vos systèmes et à vos programmes et le
              les données qui s'y trouvent ou tout autre dommage direct ou indirect, consécutif et accessoire. </li>
              </ul>
              <p>Cette société n'exclut toutefois pas sa responsabilité en cas de décès ou de dommages corporels causés par sa négligence. Ce qui précède
              les exclusions et les limitations ne s'appliquent que dans la mesure permise par la loi. Aucun de vos droits statutaires en tant que consommateur n'est
              affectés. </p>

              <h3>Politique d'annulation</h3>
              <p>Un préavis d'annulation de 24 heures au minimum est requis. Notification, par exemple, en personne, par courrier électronique, par téléphone portable ou par SMS 
                message" et/ou fax, ou tout autre moyen sera accepté sous réserve de confirmation par écrit. Nous nous réservons le droit de 
                prélever une taxe de 30 $ pour couvrir les frais administratifs ultérieurs. </p>
              
              <h3>Résiliation des accords et politique de remboursement</h3>
              
              <p>Le client et nous-mêmes avons le droit de mettre fin à tout accord de services pour n'importe quelle raison, y compris le.. 
                la fin des services qui sont déjà en cours. Aucun remboursement n'est offert lorsqu'un service est considéré comme ayant commencé 
                et est, à toutes fins utiles, en cours. Toute somme d'argent qui nous a été versée et qui constitue un paiement en euros 
                à l'égard de la fourniture de services non utilisés, seront remboursés. </p>
  
              <h3>Disponibilité</h3>
              
              <p>Sauf indication contraire, les services présentés sur ce site web ne sont disponibles qu'aux États-Unis, ou dans.. 
                par rapport aux messages provenant des États-Unis. Toute publicité est destinée exclusivement au marché des États-Unis. Toi. 
                sont seuls responsables de l’évaluation de l’adéquation à un usage particulier des téléchargements, des programmes et des textes 
                disponible sur ce site. La redistribution ou republication de toute partie de ce site ou de son contenu est interdite, y compris 
                par encadrement ou par tout autre moyen similaire ou tout autre moyen, sans le consentement écrit exprès de la Société. Le site 
                La société ne garantit pas que le service de ce site sera ininterrompu, opportun ou exempt d'erreurs, bien qu'elle soit disposée à le faire 
                fournis au mieux de leurs capacités. En utilisant ce service, vous indemniserez cette société, ses employés, ses agents et son personnel 
                affiliés contre toute perte ou tout dommage, de quelque manière que ce soit, quelle qu'en soit la cause. </p>
  
              <h3>Cookies</h3>
              <p>Comme la plupart des sites web interactifs, le site web de cette société [ou ISP] utilise des cookies pour nous permettre de récupérer les détails de l'utilisateur pour.. 
                chaque visite. Les cookies sont utilisés dans certaines zones de notre site pour permettre la fonctionnalité de cette zone et la facilité d'utilisation pour les utilisateurs 
                ces personnes en visite. Certains de nos partenaires affiliés peuvent également utiliser des cookies. </p>
  
              <h3>Avis de droit d'auteur </h3>
              <p>Le droit d'auteur et les autres droits de propriété intellectuelle pertinents existent sur tous les textes relatifs aux services de la société et à l'.. 
                le contenu intégral de ce site web.  
                Le logo de cette société est une marque déposée de cette société au Royaume-Uni et dans d'autres pays. Le site 
                les noms de marque et les services spécifiques de cette société figurant sur ce site web sont des marques déposées.</p>
  
              <h3>Force Majeure</h3>

              <p>Aucune des parties ne sera responsable envers l'autre de tout manquement à une obligation en vertu de tout accord qui est dû à  
                un événement indépendant de la volonté de cette partie, y compris, mais sans s'y limiter, toute catastrophe naturelle, tout acte de terrorisme, toute guerre, tout événement politique, etc 
                insurrection, émeute, troubles civils, acte de l'autorité civile ou militaire, soulèvement, tremblement de terre, inondation ou tout autre événement 
                une éventualité naturelle ou humaine indépendante de notre volonté, qui entraîne la résiliation d'un accord ou d'un contrat 
                conclu, ni qui aurait pu être raisonnablement prévu. Toute partie affectée par un tel événement doit immédiatement informer 
                l'autre partie et s'efforcera, dans la mesure du possible, de se conformer aux conditions de tout contrat de licence 
                Accord contenu dans le présent document. </p>

            <h3>Notification des modifications</h3>
             <p>La Société se réserve le droit de modifier ces conditions de temps à autre comme bon lui semble et votre utilisation continue de
               le site signifiera votre acceptation de tout ajustement à ces termes. En cas de modification de notre politique de confidentialité,
               nous annoncerons que ces modifications ont été apportées sur notre page d'accueil et sur d'autres pages clés de notre site. S'il y a
               y a-t-il des changements dans la façon dont nous utilisons les informations personnellement identifiables des clients de notre site, une notification par e-mail ou par courrier
               un courrier sera envoyé aux personnes concernées par ce changement. Toute modification de notre politique de confidentialité sera publiée sur notre site Web
               30 jours avant que ces modifications n'aient lieu. Il vous est donc conseillé de relire régulièrement cette déclaration </p>
            
               <h3>Ces termes et conditions font partie de l'Accord entre le Client et nous-mêmes. Votre accès à
                ce site Web et / ou l'engagement d'une réservation ou d'un accord indique votre compréhension, votre accord et
                l'acceptation de l'avis de non-responsabilité et de l'intégralité des conditions générales contenues dans les présentes. Votre statutaire
                Les droits des consommateurs ne sont pas affectés.</h3>

            <p class="text-right">© AtypikHouse 2022 Tous les droits sont réservés</p>

          </mat-card>
        </div>
          
      </div>

  </div>
</div>