.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 300px;
    border: 10px solid #f4511e;
    border-radius: 5px;
    background: #424242;
    color: #fff;
}

.dropzone.hovering {
    border: 10px dashed #2465f1;
}
