<div class="p-3">
  <div class="theme-container">

    <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
        <mat-card [style.max-width.px]="340" class="md-card">
          <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
            <h1 class="uppercase">S'identifier</h1>  
            <a mat-button routerLink="/register" color="accent" class="w-100">Pas de compte ? Inscivez-vous maintenant</a>    
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
              <mat-form-field appearance="outline" class="w-100 mt-2">
                  <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                  <mat-label>Nom d'utilisateur</mat-label>
                  <input matInput placeholder="Nom D'utilisateur" formControlName="username" required>
                  <mat-error *ngIf="loginForm.controls.username.errors?.required">Nom d'utilisateur obligatoire</mat-error>
                  <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">Nom d'utilisateur doit contenir 6 caractères minimum</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100 mt-1">
                  <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                  <mat-label>Mot de passe</mat-label>
                  <input matInput placeholder="Mot de passe" formControlName="password" required [type]="hide ? 'password' : 'text'">
                  <mat-error *ngIf="loginForm.controls.password.errors?.required">Mot de passe obligatoire</mat-error>
                  <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Le mot de passe doit contenir 6 caractères minimum</mat-error>
                  <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field> 
              <mat-slide-toggle formControlName="rememberMe" class="my-2">Garder ma session ouverte</mat-slide-toggle>
              <div class="text-center mt-2"> 
                  <button mat-raised-button color="accent" class="uppercase" type="submit">
                      Se Connecter
                  </button>
              </div>     
              <span style="margin: 1%;color: red;margin-top: 2%;">{{message}}</span>   
          </form>
        </mat-card>
    </div> 

  </div>
</div>