<div class="p-3">
    <div class="theme-container">
  
      <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
          <mat-card [style.max-width.px]="500">
            <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
              <h1 class="uppercase">S'inscrire</h1>  
              <a mat-button routerLink="/login" color="accent" class="w-100">Vous avez déjà un compte? S'identifier!</a>  
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit(registerForm.value)"> 
                <mat-form-field  appearance="outline" class="w-100 mt-2">
                    <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                    <mat-label>Prénom</mat-label>
                    <input matInput placeholder="Nom" formControlName="lastname" required>
                    <mat-error *ngIf="registerForm.controls.lastname.errors?.required">Nom Obligatoire</mat-error>
                </mat-form-field>

                <mat-form-field  appearance="outline" class="w-100 mt-2">
                    <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="Prénom" formControlName="firstname" required>
                    <mat-error *ngIf="registerForm.controls.firstname.errors?.required">Prénom Obligatoire</mat-error>               
                </mat-form-field>

                <mat-form-field  appearance="outline" class="w-100 mt-1">
                    <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="registerForm.controls.email.errors?.required">Email est obligatoire</mat-error>
                    <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">L'Email est invalide</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                  <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                  <mat-label>Mot de passe</mat-label>
                  <input matInput placeholder="Mot de passe" formControlName="password" type="password" minlength="6" required [type]="hide ? 'password' : 'text'">
                  <mat-error *ngIf="registerForm.controls.password.errors?.required">Le mot de passe est obligatoire</mat-error>
                  <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">Le mot de passe n'est pas assez long, minimum 6 caractères</mat-error>
                  <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field> 
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                  <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                  <mat-label>Confirmer le mot de passe</mat-label>
                  <input matInput placeholder="Confirmer le mot de passe" formControlName="confirmPassword" type="password" required [type]="hide ? 'password' : 'text'">
                  <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">La confirmation du mot de passe est obligatoire</mat-error>
                  <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">Les mots de passe ne sont pas identiques</mat-error>
                  <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field> 
                <!--<mat-slide-toggle formControlName="receiveNewsletter" class="my-2">Recevoir les Newsletter</mat-slide-toggle>-->
                <div class="text-center mt-2"> 
                    <button mat-raised-button color="accent" class="uppercase" type="submit">
                        Créer un compte
                    </button>
                </div> 
            </form>
            <div class="divider mt-4"></div> 
            <mat-card-actions fxLayoutAlign="center center" class="text-center">
               <small class="my-3">En cliquant sur le bouton "Créer un compte", vous acceptez nos :<a mat-button routerLink="/terms-conditions" color="primary" class="mx-2">Conditions Générales</a> </small>
            </mat-card-actions>
          </mat-card>
      </div> 
  
    </div>
  </div>