<div class="px-3">

    <div class="theme-container">
        <mat-card class="main-content-header mb-5">
            <mat-tab-group>
                <mat-tab label="Réservation en attente">

                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties"
                            autocomplete="off">
                    </mat-form-field>
                    <div class="table-wrapper">
                        <table mat-table [dataSource]="dataSource" matSort class="w-100">

                            <ng-container matColumnDef="Arrive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'arrivée </th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.dateArrival | date: 'dd/MM/yyyy'}}</a></td>
                            </ng-container>

                            <ng-container matColumnDef="Departure">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de départ </th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.dateDeparture | date: 'dd/MM/yyyy'}}</a></td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>voyageur</th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.user.firstName}} {{element.user.lastName}}</a>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="warn" (click)="validatereservation(element.id)"
                                        matTooltip="Valider" class="remove">
                                        <mat-icon>event_available</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="cancelreservation(element.id)"
                                        matTooltip="Annuler" class="remove">
                                        <mat-icon>event_busy</mat-icon>
                                    </button>


                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let property; columns: displayedColumns;">
                            </tr>
                        </table>
                        <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">No data available</p>
                    </div>
                    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>


                </mat-tab>
                <mat-tab label="Historique des réservations">



                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties"
                            autocomplete="off">
                    </mat-form-field>
                    <div class="table-wrapper">
                        <table mat-table [dataSource]="dataSource2" matSort class="w-100">

                            <ng-container matColumnDef="Arrive">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'arrivée </th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.dateArrival | date: 'dd/MM/yyyy'}}</a></td>
                            </ng-container>

                            <ng-container matColumnDef="Departure">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de départ </th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.dateDeparture | date: 'dd/MM/yyyy'}}</a></td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>voyageur</th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{element.user.firstName}} {{element.user.lastName}}</a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut de la réservation</th>
                                <td mat-cell *matCellDef="let element "><a
                                        [routerLink]="['/properties', element.accommodationId ]"
                                        class="property-name">{{getstatuts(element.bookingStatus)}}</a>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let property; columns: displayedColumns2;">
                            </tr>
                        </table>
                        <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">Pas de données disponibles</p>
                    </div>
                    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>

                </mat-tab>






                <mat-tab label="Gérer les disponibilités" >

                    <h2 style="margin: 2%;color:white;"> Gérer les disponibilités</h2>

                    <mat-form-field appearance="fill" style="margin-left: 2%;">
                        <mat-label>Enter une date</mat-label>
                        <mat-date-range-input [rangePicker]="picker" [dateFilter]="myFilter">
                            <input matStartDate #dateRangeStart placeholder="Start date">
                            <input matEndDate #dateRangeEnd placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker [dateClass]="dateClass()" (selectedChange)="onSelect($event)">
                            <mat-date-range-picker-actions>
                                <button mat-button matDateRangePickerCancel (click)="clear()">Annuler</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply
                                    (click)="push(dateRangeStart, dateRangeEnd)">Appliquer</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>

                    <button style="margin-left: 2%;" mat-raised-button color="accent" type="submit"
                        (click)="submitslots()">Sauvgarder</button>

                </mat-tab>
                <mat-tab label="Informations supplémentaires">

                    <div fxFlex="100" class="mb-2" [formGroup]="submitForm" (ngSubmit)="submitparameters()"
                        *ngIf="submitForm">
                        <p class="uppercase m-2 fw-500">Informations supplémentaires</p>
                        <form formGroupName="additional"  style="display: table-caption !important;">
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div formArrayName="parameters" fxLayout="row wrap">
                                            <div [formGroupName]="i"
                                                *ngFor="let control of submitForm.get('additional')['controls'].parameters['controls']; index as i"
                                                class="p-2">
                                                <!-- <mat-checkbox formControlName="selected" (change)="onChange($event)"  [value]="parameters[i].id ">{{parameters[i].name }}</mat-checkbox>-->
                                                <div class="form-group">
                                                    <mat-radio-group *ngIf="parameters[i].value == 0"
                                                        aria-label="Select an option" id="parameters[i].id"
                                                        formControlName="valeurbool" class="w-100">
                                                        <mat-label>{{parameters[i].label}}</mat-label><br>
                                                        <mat-radio-button value=true>Oui</mat-radio-button>
                                                        <mat-radio-button style="margin-left: 5%;" value=false>Non
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="form-group">
                                                    <mat-form-field *ngIf="parameters[i].value == 1"
                                                        appearance="outline" class="w-100">
                                                        <mat-label>{{parameters[i].label}}</mat-label>
                                                        <input matInput id="parameters[i].id"
                                                            formControlName="valuertext" type="text" autocomplete="off">
                                                    </mat-form-field>
                                                </div>
                                                <div class="form-group">

                                                    <mat-form-field *ngIf="parameters[i].value == 2"
                                                        appearance="outline" class="w-100">
                                                        <mat-label>{{parameters[i].label}}</mat-label>
                                                        <input matInput id="parameters[i].id"
                                                            formControlName="valuernumber" type="tel"
                                                            autocomplete="off">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <button mat-raised-button  class="col-12 text-right" type="submit" color="primary">Sauvgarder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </mat-tab>
                <mat-tab label ="Messages">
                    <mat-card class="p-5 mt-5">
                        <mat-card-header fxLayoutAlign="center center">
                            <mat-card-title class="uppercase">Messages</mat-card-title>
                        </mat-card-header>
                        <div class="divider"></div>
                        <div>
                            <mat-list class="reviews mt-3">
                                <mat-list-item *ngFor="let message of messages" class="h-100">
                                    <!--   <img matListAvatar [src]="review.avatar" alt="image" class="review-author"> -->
                                    <p matLine fxLayoutAlign="start center">
                                        <span class="fw-500">{{message.name}}</span> <span
                                            style="margin-left: 1%;">
                                        </span>
                                        <mat-icon class="text-muted px-1"  matTooltipPosition="after">
                                            message</mat-icon>
                                    </p>
                                    <p matLine class="text-muted"><small>{{message.date | date: 'dd/MM/yyyy'}}</small></p>
                                    <p matLine class="text">{{message.message}}</p>
                                    <button mat-icon-button color="warn" (click)="remove(message.id)"
                                    matTooltip="Supprimer" class="remove">
                                    <mat-icon>done</mat-icon>
                                </button>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </mat-card>    
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>

</div>