
.responsive{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    flex-wrap: wrap !important;
}
@media only screen and (max-width: 600px) {

.space{
    margin: 1%;
}
}

@media only screen and (max-width: 600px) {

    .space{
        margin: 1%;
    }
    .responsive{
        flex-direction: column !important;
    }
}